{
  "presets": ["react-native", "flow"],
  "retainLines": true,
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "Resources": "./resources/Resources.js",
        }
      }
    ]
  ]
}
