{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": ["react", "jsx-a11y", "import", "jest"],
  "rules": {
    "react/prefer-stateless-function": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "linebreak-style": "off"
  },
  "globals": {
    "fetch": true
  },
  "env": {
    "jest/globals": true
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
